.signup-heading {
    width: fit-content;
    margin: auto;
}

.signup-form .input-values {
    width: fit-content;
    margin: auto;
}

.signup-form .msg {
    width: fit-content;
    margin: auto;
    color: red;
}

.signup-form .input {
    width: fit-content;
    margin: auto;
    padding: 0.6rem;
}

.submit-btn {
    margin: auto;
}

.signup {
    padding-top: 7rem;
    padding-bottom: 12.5rem;
}

.signup-heading {
    padding-bottom: 4rem;
}

.signup-content .container.signup {
    padding: 1rem;
}

.signup-content .main-raised {
    margin: 60px 250px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.signup-content .main {
    background: #FFF;
    position: relative;
    z-index: 3;
}

.signup-content .title {
    margin-bottom: 7px;
    min-height: 32px;
    color: #3C4858;
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
}